h1{
    font-size: 30px;
    margin: 12px;
    padding: 5px;
    color: #FFFFFF;
    font-weight: normal;
}

.title{
    color: #662d91;
    font-weight: bold;
}

@media (max-width: 768px) {
    h1{
        font-size: 20px;
        text-align: center;
    }
}

